

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Videos:</strong>
  <%= @profile.videos %>
</p>

<p>
  <strong>Images:</strong>
  <%= @profile.image %>
</p>
  <strong>Location:</strong>
  <%= @profile.location %>
</p>
  <strong>Biography:</strong>
  <%= @profile.bio %>
</p>



<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>

     