<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <%= image_tag("login.png")%>
      <% if flash[:notice] %>
        <div class="alert alert-danger"><%= flash[:notice] %></div>
      <% end %>

      <%= form_for sessions_path do |f|%>
        <%= text_field_tag :email, params[:email], placeholder: "email", :class => "form-control"%>
        <br>
        <%= password_field_tag :password,  placeholder: "password", :class => "form-control" %>
    
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>

      </div>
      
      <%= submit_tag "LOGIN", :class => "btn btn-lg btn-danger btn-block" %>
      <span>Not a member? <%= link_to "Sign Up", new_user_path, style: "color: #D12943" %></span>

      <% end %>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>