<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <%= image_tag("login.png")%>
      <% if flash[:notice] %>
        <div class="alert alert-danger"><%= flash[:notice] %></div>
      <% end %>

        <%= form_for sessions_path do |f| %>
          <%= f.text_field :email, placeholder: "email", :class => "form-control"%>
          <br>
          <%= f.password_field :password, placeholder: "password", :class => "form-control" %>
      
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>

        </div>
        
        <%= f.submit "LOGIN", :class => "btn btn-lg btn-primary btn-block" %>
        <span>Not a member? <%= link_to "Sign Up", new_user_path, style: "color: #D12943" %></span>

        <% end %>
      </div>
      <div class="col-md-4"></div>
    </div>
</div>