<!-- start of new user -->
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">


      <%= image_tag("signup1.png")%>
      <% if flash[:notice] %>
        <div class="alert alert-danger"><%= flash[:notice] %></div>
      <% end %>

      <%= form_for @user do |f| %>
        <%= f.text_field :email, placeholder: "email", :class => "form-control"%>
        <br>
        <%= f.password_field :password, placeholder: "password", :class => "form-control" %>
        <%= f.password_field :password_confirmation, placeholder: "confirm password", :class => "form-control" %>

      
        <%= f.submit "SIGN UP", :class => "btn btn-lg btn-danger btn-block" %>
      <% end %>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<!-- end of new users -->