<!-- start of new user -->
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">


      <%= image_tag("signup1.png")%>
       

      <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2>FORM IS INVALID</h2>
            <br>
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
           <% end %>
          
      
        <%= f.text_field :email, placeholder: "email", :class => "form-control"%>
        <br>
        <%= f.password_field :password, placeholder: "password", :class => "form-control" %>
        <%= f.password_field :password_confirmation, placeholder: "confirm password", :class => "form-control" %>

      
        <%= f.submit "SIGN UP", :class => "btn btn-lg btn-danger btn-block" %>
      <% end %>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<!-- end of new users -->

