<h1>Add A New Joke</h1>

<div>
	<%= form_for @joke, :url => {:action => :create}  do |f| %>
		<div><%= f.file_field :video %></div><br>
		<div>Views: <%= f.text_field :views %></div><br>
		<div>Votes: <%= f.text_field :totalvotes%></div><br>
		<div><%= f.submit %>

	<% end %> 
</div>
