<div class="container">

	<div class="row">	
		<div class="col-md-8" id="showVid">
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-6">
						<div class="center-block">
							<div id="bigvid">
								<%= video_tag(@joke.video.url, size: "600x350", class: "video-js vjs-default-skin vjs-big-play-centered stylevideo", controls:true) %>
								Views: <%= @joke.views %>
							</div>
						</div><br>
						<div>
							<%= link_to image_tag("Like_thumb.png", size: "100x100", :border => 0), new_vote_path(:vote => 1, :user_id => current_user, :joke_id => @joke.id), {:action => 'create', :controller => 'votes'}%> 
							<%= link_to image_tag("like_thumbs_down.png", size: "100x100", :border => 0), new_vote_path(:vote => -1, :user_id => current_user, :joke_id => @joke.id), {:action => 'create', :controller => 'votes'}%>
						</div>
					</div>
					<div class="col-md-1"></div>
				</div>
		</div>

		<div class="col-md-4">
			<% @trendingjokes.each do |tj| %>
				<div>
					<%= video_tag(tj.video.url, size: "150x150") %>
				</div>
			<% end %>
		</div>

	</div>

	<div class="row">
		<div class="col-md-8" id="commentbox">
			<h1>Comments:</h1>

			<%= form_for(@usercomment, url: {controller: "user_comments", action: "create"}) do %>
						<%= hidden_field_tag(:joke_id, @joke.id) %>
						<%= text_area_tag :description, nil, class: "form-control"  %><br>
						<%= submit_tag( "Submit Comment", class: "btn btn-danger") %>

			<% end %>

			<% @jokecomments.order("created_at desc").each do |jc| %>
				<p><%= jc.description %></p>
				<p>Date: <%= jc.created_at %></p>
			<% end %>

		</div>
		<div class="col-md-4"></div>
	</div>

</div>