<div class="container">
	<div class="row">	
		<div class="col-md-8" id="showVid">
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-6">
						<div class="center-block">
							<div id="bigvid">
								<%= video_tag(@joke.video.url, size: "600x350", class: "video-js vjs-default-skin vjs-big-play-centered", controls:true) %>
								Views: <%= @joke.views %>
							</div>
						</div>
					</div>
					<div class="col-md-1"></div>
				</div>
		</div>

		<div class="col-md-4">
			<% @trendingjokes.each do |tj| %>
				<div>
					<%= video_tag(tj.video.url, size: "150x150") %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8" id="commentbox">
			<h1>Comments:</h1>

			<%= form_for(@usercomment, url: {controller: "user_comments", action: "create"}) do %>
						<%= hidden_field_tag(:joke_id, @joke.id) %>
						<%= text_area_tag(:description) %><br>
						<%= submit_tag( "Submit Comment") %>

			<% end %>

			<% @jokecomments.order("created_at desc").each do |jc| %>
				<p><%= jc.description %></p>
				<p>Date: <%= jc.created_at %></p>
			<% end %>

		</div>
		<div class="col-md-4"></div>
	</div>
</div>