<div class="container showcontainer">

	<div class="row">

		<div class="col-xs-8" id="middle">
				<h3><%= @joke.description %></h3>
				<% if @joke.video_file_name %>

					<%= video_tag(@joke.video.url, size: "620x320", class: "video-js vjs-default-skin vjs-big-play-centered stylevideo", controls:true) %>
				<% else %> 

					<!-- <iframe width="560" height="315" src="//www.youtube.com/embed/bk0yndGLWa8" frameborder="0" allowfullscreen></iframe> -->
					<% youtube_id = @joke.youtube.split("=").last %>
    			<% src = "//www.youtube.com/embed/#{youtube_id}?rel=0" %>
				 	<iframe src= <%= src %> width="620" height="320" ></iframe> 
				<% end %>
							
							<div class="row" id="viewrow">
												
									<div class="lead"><span id="vote"><strong>Votes: </strong><%= @votes.length %></span><span id="view"><strong>Views: </strong><%= @joke.views %></span></div>
							
							</div>
							<div class="row" id="uprow">						
									<div id="details"><strong>Uploaded: <%= @joke.created_at.strftime("%b %e,%l:%M %p") %></strong><br><br>
									<strong>By: <%= @username %></strong>
									</div>
							</div>
							<% if @voted.vote %>
								<div class="row">
										<div class="col-sm-2 funny">
											<p>Likes: <%= @likes.length %></p>
										</div>
										<div class="col-sm-8 funny">
											<% if @voted.vote == 1 %>
												<h1 class="voted">You Liked This Joke</h1>
											<% else %>
												<h1 class="voted">You Did Not Like This Joke</h1>
											<% end %>
										</div>
										<div class="col-sm-2 funny">
											<p>Dislikes: <%= @dislikes.length %></p> 
											
										</div>
								</div>

							<% else %>
								<div class="row">
										<div class="col-sm-3 funny">
											<%= link_to image_tag("Like_thumb.png", size: "75x75", :border => 0), new_vote_path(:vote => 1, :user_id => current_user, :joke_id => @joke.id), {:action => 'create', :controller => 'votes'}%><br>
											<p>Likes: <%= @likes.length %></p> 
										</div>
										<div class="col-sm-6 funny">
											<h2>Funny or Not?</h2>
										</div>
										<div class="col-xs-3 col-sm-3 funny">
											<%= link_to image_tag("like_thumbs_down.png", size: "75x75", :border => 0), new_vote_path(:vote => -1, :user_id => current_user, :joke_id => @joke.id), {:action => 'create', :controller => 'votes'}%>
											<p>Dislikes: <%= @dislikes.length %></p> 
										</div>
								</div>
							<% end %>

					<div class="comments"> 	
									
							<h1 id="commenttitle">Comments:</h1>

							<%= form_for(@usercomment, url: {controller: "user_comments", action: "create"}) do %>
										<%= hidden_field_tag(:joke_id, @joke.id) %>
										
										<%= text_area_tag :description, nil, class: "form-control"  %><br>
										<%= submit_tag( "Submit Comment", class: "btn btn-danger") %>
										
							<% end %>

							<br><div id="commentlist"></div>
						
							<% @jokecomments.order("created_at desc").each do |jc| %>
								<p class="container"><%= jc.description %></p>
								<p class="container">Posted: <%= jc.created_at.strftime("%b %e,%l:%M %p") %></p>
								<div id="commentlist"></div>
							<% end %>
						
					</div>


			</div>

			<div class="col-xs-4" id="trend">
				<div class="row" id="recommend">
					<p class="lead" id="recjoke">Recommended Jokes</p>
				</div>
				<% @trendingjokes.each do |tj| %>
					
						<div class="side">

							<% if tj.video_file_name %>
								<%= video_tag(tj.video.url, size: "150x108") %>
							<% else %>
								<% youtube_image_id = tj.youtube.split("=").last %>
	   					  <% img_src = "http://img.youtube.com/vi/#{youtube_image_id}/default.jpg" %>
								<%= image_tag(img_src, size: "150x100") %>
								<div class="sidecontainer"></div>
							<% end %>

						</div>
						<div class="side" id="sidewords">
							<a href="#"><%= tj.description %></a>
							<p>Views: <%= tj.views %></p>
						</div>
					
				<% end %>	
			</div>
			
	</div>

</div>