<!DOCTYPE html>
<html>

<head>
  <title>Gotjokes</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="//vjs.zencdn.net/4.10/video-js.css" rel="stylesheet">
  <script src="//vjs.zencdn.net/4.10/video.js"></script>
</head>


<body ng-app="myApp">
  <%= render 'layouts/form' %>
    




<a ui-sref="home">HOME</a>
<a ui-sref="show">SHOW</a>
<a ui-sref="list">JOKES LIST</a>




    <div id="container">
        
        <% flash.each do |name,msg| %>
            <%= content_tag :div, msg, id: "flash_#{name}" %>
        <% end %>
    
    <div id="user_header">
    <% if current_user %>
      Logged in as <%= current_user.email %>.
      <%= link_to "Log Out", logout_path %>
    <% else %>
      <%= link_to "Sign Up", new_user_path %> or
      <%= link_to "Log In", new_session_path %>
    <% end %>
    </div>
     
        
    </div>

<%= yield %>

</body>
</html>
